<footer class="footer bg-dark">
    
        <div class="d-flex justify-content-center textoFooter m-2">               
             <span >
                 <span>Franco Ceschan • </span>                
                 <a href="https://github.com/" target="_blank" rel="noreferrer" class="linkRedes m-1">
                 GitHub
                 <i class="fab fa-github p-1"></i>
                 </a>
                 •
                 <a href="https://linkedin.com/" target="_blank" rel="noreferrer" class="linkRedes m-1">
                 LinkedIn
                 <i class="fab fa-linkedin p-1"></i>
 
                 </a>
             </span>        
         </div>
     
</footer>
