<p-card header="Universidad Tecnologica Nacional">
    <div>Ingenieria en Sistemas de Informacion</div>   
    
    <div class="flex justify-content-end flex-wrap mt-3">
      <button class="flex align-items-center justify-content-center p-button-rounded p-button-outlined mr-2" *ngIf="true" pButton pRipple type="button" icon="pi pi-pencil"></button>
      <button class="flex align-items-center justify-content-center p-button-rounded p-button-danger p-button-outlined mr-2" *ngIf="true" pButton pRipple type="button" icon="pi pi-times" ></button>
    </div>
  </p-card>
