<p-card header="Registrar experiencia laboral" class="ml-4">
    <form (ngSubmit)="onSubmit()">

    <span class="p-float-label m-4">
        <input 
        id="institucion" 
        [(ngModel)]="experiencia.institucion"
        name="institucion"
        type="text" 
        pInputText> 

        <label for="institucion">Institución</label>
    </span>

    <span class="p-float-label m-4">
                <input 
        id="titulo" 
        [(ngModel)]="experiencia.titulo"
        name="titulo"
        type="text" 
        pInputText> 
        <label for="titulo">Título</label>
    </span>

    <span class="p-float-label m-4">
        <p-calendar 
        id="fechaInicio"
        [(ngModel)]="experiencia.fechaInicio"
        name="fechaInicio"
        ></p-calendar>
        <label for="fechaInicio">Fecha de Inicio</label>
        
    </span>
    <span class="p-float-label m-4">
        <p-calendar 
        id="fechaFin"
        [(ngModel)]="experiencia.fechaFin"
        name="fechaFin"
        ></p-calendar> 
        <label for="fechaFin">Fecha de Finalización</label>
    </span>
    <button pButton type="button" label="Guardar" class="ml-4" (click)="onSubmit()"></button>
    <button pButton type="button" label="Volver" class="ml-4 p-button-secondary" (click)="volver()"></button>
</form>
  </p-card>

  

