<div class="m-4 d-flex justify-content-center align-items-center">
  <form [formGroup]="formLogin" (ngSubmit)="Login()">

    <div class="mb-4">
      <span class="p-float-label">
        <input 
        id="usuario" 
        type="text"
        formControlName="usuario" 
        pInputText> 
        <label for="usuario">Usuario</label>
    </span>
    </div>
    
    <div class="mb-3">
      <span class="p-float-label">
        <input 
        id="contraseña" 
        type="password"
        formControlName="contraseña" 
        pInputText> 
        <label for="contraseña">Contraseña</label>
    </span>
    </div>

    <div class="d-flex justify-content-center">
      <button pButton type="submit" label="Iniciar Sesion" ></button>
    </div>
  
  </form>
</div>
