.card-img-top{
    height: 15rem;
    
}

.p-button-rounded{
    max-width: 2rem;
    max-height: 2rem;
    
}

.card{
    width: 60vw;
}

::ng-deep .p-avatar{
    min-width: 8rem;
    min-height: 8rem;
}

.boton{
    margin: 1rem;
}